<div class="table-container">
  <table class="table is-hoverable has-text-centered">
    <thead>
      <tr class="has-background-info-light is-size-6-mobile">
        <td>Airline</td>
        <td>Flight Number</td>
        <td>Departure Time</td>
        <td>Duration</td>
        <td>
          <div>
          <span class="icon icon-bottom">
            <ion-icon name="ios-airplane"></ion-icon>
          </span>
          </div>
        </td>
      </tr>
    </thead>
    <% @available_flights.each do |flight| %>
      <tr class="has-text-weight-bold is-size-6-mobile">
        <td><%= flight.airline %></td>
        <td><%= flight.flight_number %></td>
        <td><%= short_time_format(flight) %></td>
        <td><%= duration_formatted(flight) %></td>
        <td>
          <%= button_to "Book Flight",
                        new_booking_path,
                        method: :get,
                        class: "button book-flight is-small is-success has-text-weight-bold ",
                        params: { flight_id: flight.id,
                                  tickets:   params[:tickets]} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
