<div class="has-text-centered search-parameters mb-4 columns is-centered">


  <%= form_with(url: flights_path, method: :get) do |form| %>

    <div class="column is-three-fourths">
      <%= form.select(:origin_id, Airport.options_for_select, selected: params[:origin_id], prompt: "Departs") %>
      <%= form.select(:destination_id, Airport.options_for_select, selected: params[:destination_id], prompt: "Arrives") %>
      <%= form.select(:departure_time, Flight.options_for_select, selected: params[:departure_time], prompt: "Date") %>
      <%= form.select(:tickets, (1..4), selected: params[:tickets], prompt: "Passengers") %>  
    </div>

    <div class="column is-one-fourth">
      <%= form.submit "Find Flights", class: "button is-info", name: nil %>  
    </div>
    

  <% end %>

</div>
