<div class="huginn-muninn">
  <p class="is-size-6-mobile is-size-5-desktop has-text-centered">
    <a class="has-text-light is-link" href="https://en.wikipedia.org/wiki/Huginn_and_Muninn" target="_blank">Huginn and Muninn</a> searched all of Midgard and returned with . . .
  </p>
</div>
<p class="has-text-centered has-text-weight-bold is-size-5-widescreen is-size-6">
  <%= pluralize(@available_flights.count, 'Flight') %> for <%= long_date_format %>
</p>
<section class="section">
  <div class="columns is-centered">
    <%= render 'results_table' %>
  </div>
</section>
<div class="columns">
  <div class="has-text-centered column is-one-third">
    <p class="has-text-weight-bold">
      ORIGIN
    </p>
    <p>
      <%= show_selected_airport(params[:origin_id]) %>
    </p>
  </div>
  <div class="column is-one-third icon-top has-text-centered">
    <span class="icon-big">
      <ion-icon name="airplane"></ion-icon>
    </span>
  </div>
  <div class="has-text-centered column is-one-third">
    <p class="has-text-weight-bold">
      DESTINATION
    </p>
    <p>
      <%= show_selected_airport(params[:destination_id]) %>
    </p>
  </div>
</div>
