  <h1 class="title has-text-centered has-text-light"><%= @flight.airline %> Flight <%= @flight.flight_number %></h1>
  <div class="table-container columns is-centered">
    <table class="table is-hoverable has-text-centered">
      <thead>
        <tr class="has-text-weight-bold has-background-info-light is-size-6-mobile">
          <td>Airline</td>
          <td>Flight Number</td>
          <td>Origin</td>
          <td>Destination</td>
          <td>Date</td>
          <td>Departure Time</td>
          <td>Duration</td>
        </tr>
      </thead>
      <tr class="is-size-6-mobile">
        <td><%= @flight.airline %></td>
        <td><%= @flight.flight_number %></td>
        <td><%= @flight.origin_airport.code %></td>
        <td><%= @flight.destination_airport.code %></td>
        <td><%= short_date_format(@flight) %></td>
        <td><%= short_time_format(@flight) %></td>
        <td><%= duration_formatted(@flight) %></td>
      </tr>
    </table>
  </div>

  
