<h3>Form to Create a New Booking for Flight <%= @flight.id %></h3>

<p>Date
  <span><%= @flight.departure_time.to_date %></span>
</p>

<p>Departs 
  <span><%= @flight.origin_airport.code %></span>
</p>

<p>Arrives 
  <span><%= @flight.destination_airport.code %></span>
</p>

<p>Number of Passengers
  <span><%= @number_of_passengers %></span>
</p>

<%= form_with(model: @booking) do |f| %>
  
<% end %>