<section class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="columns is-centered">
        <div class="column is-full">
          <h1 class="title has-text-light has-text-centered is-capitalized">Search for bookings</h1>
          <div class="has-text-centered">
            <%= form_tag search_bookings_path, method: :get do %>
              <p class="mb-4">
                <%= label_tag(:search, "Enter Your Confirmation Number or Passenger Email.", class: "subtitle has-text-light") %>
              </p>
              <p>
                <%= text_field_tag(:search, params[:search], class: "is-size-4-desktop has-text-centered", required: true) %>
              </p>
              <%= submit_tag "Search", class: "has-text-centered my-5 button is-success", name: nil %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="columns">
        <% if bookings_searched_and_found? %>
          <div class="box has-background-grey-dark has-text-light column is-half is-offset-one-quarter">
            <p class="is-size-5-desktop has-text-centered">
              <%= pluralize(@results.size, 'booking')%> found.
            </p>
            <div>
              <ol class="column">
                <% @results.each do |booking| %>
                  <li class="mx-5 my-3 is-size-4-widescreen is-size-5-desktop">
                    <p class="has-text-centered is-uppercase">
                      <%= link_to booking.confirmation_number, booking_path(booking) %>
                    </p>
                  </li>
                <% end %>
              </ol>
            </div>
        <% elsif params[:search] %>
          <p class="notification is-warning has-text-weight-bold column has-text-centered is-capitalized">
            no bookings found.
          </p>
          </div>
        <% end %>

      </div>

    </div>
  </div>
</section>
