<h4>Your flight is booked!</h4>
<h5>Your Booking confirmation number is <%= @booking.confirmation_number.upcase %></h5>

<p>
  <span>Number of Passengers</span>
  <%= @booking.tickets %>
</p>

<h6>Passenger Info</h6>

<div>
  <ul>
    <% @booking.passengers.each do |passenger| %>
      <li>
        <%= passenger.name %>
        <%= passenger.email %>
      </li>
    <% end %>
  </ul>
</div>

<%= render 'booking_info' %>
