<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-grey-lighter">
    <nav class="navbar navigation">
      <div class="navbar-brand">
        <%= image_tag("greg-rosenke-Y8QpNeHFGno-unsplash-cropped-scaled-300w.png", size: "200x100", alt: "raven in flight") %>
      </div>

      <div class="navbar-end">
        <%= link_to "RavenReservations", root_url, class: "has-text-grey-lighter navbar-item is-size-5" %>
      </div>

    </nav>
    <% flash.each do |message_type, message| %>
       <%= content_tag(:p, message, class: "notification is-#{message_type}") %>
    <% end %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
