<!DOCTYPE html>
<html class="has-background-dark">
  <head>
    <title>RavenReservations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-text-light">
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/flights">
          <%= image_tag("odinsravens.png", size: "100x100", alt: "odin's ravens") %>
        </a>
        <div class="navbar-item"></div>
        <p class="raven-reservations navbar-item has-text-light is-size-2-desktop is-size-3-tablet is-size-5-mobile">
          RavenReservations
        </p>

        <a class="navbar-burger" id="burger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="navbar-menu" id="nav-links">
        <div class="navbar-end">
          <%= link_to "Flights", root_url, class: "has-text-centered has-text-dark navbar-item is-size-4-desktop is-size-6-mobile" %>
          <%= link_to "Bookings", bookings_path, class: "has-text-centered has-text-dark navbar-item is-size-4-desktop is-size-6-mobile" %>
          <div class="navbar-item"></div>
          <div class="navbar-item"></div>
        </div>

      </div>

    </nav>

    <% flash.each do |message_type, message| %>
      <% if message_type == 'error' %>
        <%= content_tag(:p, message, class: "notification is-danger has-text-dark has-text-centered has-text-weight-bold") %>
      <% else %>
        <%= content_tag(:p, message, class: "notification is-#{message_type} has-text-dark has-text-centered has-text-weight-bold") %>
      <% end %>
    <% end %>
    <section class="section">
      <%= yield %>
    </section>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
